pipeline/pipelineLesson12Countfiles.json
{
	"name": "pipelineLesson12Countfiles",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSVoutputJoinemployeedept",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variableFilecount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get MetadataFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileCount",
					"value": {
						"value": "@string(length(activity('Get MetadataFiles').output.childItems))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition filecountnumber",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variableFilecount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('FileCount'),'9' )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait False",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WaitTrue",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 9
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileCount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-01T08:29:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}