pipeline/pipelineLesson10WritelogtoFile.json
{
	"name": "pipelineLesson10WritelogtoFile",
	"properties": {
		"activities": [
			{
				"name": "WaitStart",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 3
				}
			},
			{
				"name": "Get MetadataLogfile",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variableLogfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADFRealLesson10",
						"type": "DatasetReference",
						"parameters": {
							"LogFileDS": {
								"value": "@variables('Filename')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variableLogfile",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WaitStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Filename",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If ConditionLogfilenameExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get MetadataLogfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get MetadataLogfile').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "dataflowLesson10",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflowLesson10",
									"type": "DataFlowReference",
									"parameters": {
										"DataFactory": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipeLine": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"TriggerTime": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"TriggerType": {
											"value": "'@{pipeline().TriggerType}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{'Success'}'",
											"type": "Expression"
										},
										"CurrentTime": {
											"value": "'@{utcnow()}'",
											"type": "Expression"
										},
										"DF_logfile": {
											"value": "'@{variables('Filename')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sinkLogfile": {
											"LogFileDS": {
												"value": "@variables('Filename')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "dataflowLesson10_Append",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflowLesson10_Append",
									"type": "DataFlowReference",
									"parameters": {
										"DataFactory": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipeLine": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"TriggerTime": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"TriggerType": {
											"value": "'@{pipeline().TriggerType}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{'Success'}'",
											"type": "Expression"
										},
										"CurrentTime": {
											"value": "'@{utcnow()}'",
											"type": "Expression"
										},
										"DF_logfile": {
											"value": "'@{variables('Filename')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sourceLogfile": {
											"LogFileDS": {
												"value": "@variables('Filename')",
												"type": "Expression"
											}
										},
										"sinkLogfile": {
											"LogFileDS": {
												"value": "@variables('Filename')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-01T02:11:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}