pipeline/pipelineLesson20GetLatestfileandProcess.json
{
	"name": "pipelineLesson20GetLatestfileandProcess",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataChilditems",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSVoutputJoinemployeedept",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MetadataChilditems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MetadataChilditems').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get MetadataLatestDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "OutputParameter",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If ConditionGreaterThanlateupdate",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get MetadataLatestDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(formatDateTime(activity('Get MetadataLatestDate').output.lastModified,'yyyyMMddHHmmss'),\nformatDateTime(variables('Previousupdatetime'),'yyyyMMddHHmmss'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable Latest Filename",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestFilename",
											"value": {
												"value": "@activity('Get MetadataLatestDate').output.itemName",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable Previous update",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable Latest Filename",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Previousupdatetime",
											"value": {
												"value": "@activity('Get MetadataLatestDate').output.lastModified",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"latestFilename": {
				"type": "String"
			},
			"Previousupdatetime": {
				"type": "String",
				"defaultValue": "1990-01-01T05:12:22Z"
			}
		},
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-02T01:56:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}