pipeline/pipelineLesson14ConvertArray.json
{
	"name": "pipelineLesson14ConvertArray",
	"properties": {
		"activities": [
			{
				"name": "Lookup emails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Lesson14emails",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmails",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup emails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup emails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variableTmpEmails",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TmpEmail",
								"value": {
									"value": "@concat(item().email,';',variables('Emails'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variableEmails",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variableTmpEmails",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Emails",
								"value": {
									"value": "@variables('TmpEmail')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Emails": {
				"type": "String"
			},
			"TmpEmail": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-01T09:18:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}