pipeline/pipelineWebActivity.json
{
	"name": "pipelineWebActivity",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@variables('WebAddress')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://dummy.restapiexample.com/api/v1/create",
					"body": {
						"name": "Mike",
						"salary": "99",
						"age": "99"
					}
				}
			}
		],
		"variables": {
			"WebAddress": {
				"type": "String",
				"defaultValue": "https://dummy.restapiexample.com/api/v1/employees"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T03:09:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}