pipeline/pipelineLookup.json
{
	"name": "pipelineLookup",
	"properties": {
		"activities": [
			{
				"name": "LookupDemo",
				"description": "Just for testing 12/14/2022",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ExcelTblOutputFolder",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy datadataBased excel output",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupDemo",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dsParameterFoldername",
						"type": "DatasetReference",
						"parameters": {
							"OutFolder": {
								"value": "@activity('LookupDemo').output.firstRow.FolderName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ForEachAllFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDemo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDemo').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "InputDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dsParameterFoldername",
									"type": "DatasetReference",
									"parameters": {
										"OutFolder": {
											"value": "@item().FolderName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-14T01:04:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}