pipeline/pipelineLesson40.json
{
	"name": "pipelineLesson40",
	"properties": {
		"description": "https://web.postman.co/workspace/My-Workspace~e321f6ec-b5d8-4b88-8626-4ecd7b31f824/request/24081729-0a9a82ea-df3a-4e88-9c73-22dd3920cd95\n\nhttps://www.appsloveworld.com/sample-rest-api-url-for-testing-with-authentication#huserregistration",
		"activities": [
			{
				"name": "Web Login",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "http://restapi.adequateshop.com/api/authaccount/login",
					"body": {
						"email": "Sailkkk@gmail.com",
						"password": 123456
					}
				}
			},
			{
				"name": "Web Get all users",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web Login",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('Web Login').output.data.Token}",
							"type": "Expression"
						}
					},
					"url": "http://restapi.adequateshop.com/api/users?page=1"
				}
			},
			{
				"name": "Copy data Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "Bearer @{activity('Web Login').output.data.Token}",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "WebAPI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonOutputLesson40",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-07T06:37:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}