pipeline/pipelineLesson45ExceltoCSVfiles.json
{
	"name": "pipelineLesson45ExceltoCSVfiles",
	"properties": {
		"activities": [
			{
				"name": "Until no sheet in Excel",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('IsError')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable tempCounter",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempCounter",
								"value": {
									"value": "@string(add(int(variables('counter')), 1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data Sheet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable tempCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DSLesson45ExcelParamSheet",
									"type": "DatasetReference",
									"parameters": {
										"sheetindex": {
											"value": "@int(variables('counter'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dslesson45output",
									"type": "DatasetReference",
									"parameters": {
										"outputfilename": {
											"value": "@concat(string(variables('counter')),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variablecounter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data Sheet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@variables('tempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable Iserror",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data Sheet",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IsError",
								"value": {
									"value": "@bool(1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Wait showsuccess",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Until no sheet in Excel",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"IsError": {
				"type": "Boolean"
			},
			"tempCounter": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-07T09:01:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}