pipeline/pipelineLesson37WeekdayOr not.json
{
	"name": "pipelineLesson37WeekdayOr not",
	"properties": {
		"activities": [
			{
				"name": "Set variable Today",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Today",
					"value": {
						"value": "@string(dayOfWeek(utcNow()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition Weekday",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable Today",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains('12345',variables('Today'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait Weekend",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@int(variables('Today'))",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait Weekday",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@int(variables('Today'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Today": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-06T09:31:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}