pipeline/pipelineLesson15ConvertArrayByJoin.json
{
	"name": "pipelineLesson15ConvertArrayByJoin",
	"properties": {
		"activities": [
			{
				"name": "Lookup emails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Lesson14emails",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmails",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup emails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup emails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variableEmailsArray",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "EmailsArray",
								"value": {
									"value": "@item().email",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable EmailsString",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachEmails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EmailsString",
					"value": {
						"value": "@join(variables('EmailsArray'),';')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"EmailsArray": {
				"type": "Array"
			},
			"EmailsString": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-01T13:56:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}