pipeline/pipeline_SetVariable_activity20241103.json
{
	"name": "pipeline_SetVariable_activity20241103",
	"properties": {
		"activities": [
			{
				"name": "Set variable Filename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileType",
					"value": {
						"value": "@replace(pipeline().parameters.FileName,'Sailes.csv','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition FileName",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('FileType'),' Hourly')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variableNo",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IfNotGetValue",
								"value": {
									"value": "@concat(variables('FileType'),'inNoCondition')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variableYes",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IfYesGetValue",
								"value": {
									"value": "@concat(variables('FileType'),'_inYesCondition')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			}
		},
		"variables": {
			"FileType": {
				"type": "String"
			},
			"IfYesGetValue": {
				"type": "String"
			},
			"IfNotGetValue": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Trigger_test20241031"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-03T10:11:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}