pipeline/pipelineStudydemo01.json
{
	"name": "pipelineStudydemo01",
	"properties": {
		"activities": [
			{
				"name": "Set variableFiletype",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileType",
					"value": {
						"value": "@replace(pipeline().parameters.Flename,'Sales','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition Filetype Daily",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SwitchFiletype",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('FileType'),'Daily')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data Daily",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dsSource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dsTarget",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "SwitchFiletype",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set variableFiletype",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@replace(variables('FileType'), 'Sales','' )",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Daily",
							"activities": [
								{
									"name": "Daily Execute Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "FirstCopyPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						},
						{
							"value": "Hourly",
							"activities": [
								{
									"name": "Hourly Execute Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "FirstCopyPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Flename": {
				"type": "string",
				"defaultValue": "HourlySales"
			}
		},
		"variables": {
			"FileType": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-12T09:00:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}