pipeline/pipelineReadJsonTooneActivity.json
{
	"name": "pipelineReadJsonTooneActivity",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataInputAllfiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsSource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachGetEachfilename",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MetadataInputAllfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MetadataInputAllfiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variableFilename",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "EachFilename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"FolderOut": {
				"type": "String",
				"defaultValue": "output"
			},
			"EachFilename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "StudyDemo"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-24T08:37:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}