pipeline/pipeline Lesson16 Validate file Schema.json
{
	"name": "pipeline Lesson16 Validate file Schema",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Employee",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DSADFRealLesson16ParameterEmployee",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "EmployeeLesson16.csv"
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata EmployeeRef",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DSADFRealLesson16ParameterEmployee",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "EmployeeLesson16Ref.csv"
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If ConditionSchemamaches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata Employee",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Metadata EmployeeRef",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Metadata Employee').output.structure,activity('Get Metadata EmployeeRef').output.structure )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WaitFalse",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WaitTrue",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-01T14:21:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}