pipeline/pipelineLesson21DynamicColumnMapping.json
{
	"name": "pipelineLesson21DynamicColumnMapping",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Lesson21",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Lesson21Storage",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Lesson21",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Lesson21').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data Mapping",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(activity('Lookup Tables').output.firstRow.jsonMapping)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "Lesson21StorageParameter",
									"type": "DatasetReference",
									"parameters": {
										"Lesson21Filename": {
											"value": "@activity('Lookup Tables').output.firstRow.sourceFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Lesson21AzureSQLparameter",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "activity('Lookup Tables').output.firstRow.sinkTableSchema",
											"type": "Expression"
										},
										"Table": {
											"value": "activity('Lookup Tables').output.firstRow.sinkTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup Tables",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from tbl_mappings where sourceFile='@{item().name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTableParaSchemaTable",
									"type": "DatasetReference",
									"parameters": {
										"SchemaInput": "dbo",
										"TableInput": "tbl_mappings"
									}
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADF_Real"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-02T08:52:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}